<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
            {{#if env.DOCSEARCH_ENABLED}}
              <div class="navbar-item">
                <input id="search-input" type="text" placeholder="Search docs">
              </div>
            {{/if}}
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{relativize site.components.revapi-site.url}}/../news/index.html">News</a>
                <a class="navbar-item" href="{{relativize site.components.revapi-site.url}}/../downloads.html">Downloads</a>
                <a class="navbar-item" href="https://diff.revapi.org">Online Check</a>
                <a class="navbar-item" href="https://github.com/revapi/revapi"><img src="{{{uiRootPath}}}/img/github.svg" alt="Github Repository"/></a>
                <a class="navbar-item" href="https://twitter.com/revapi_org"><img src="{{{uiRootPath}}}/img/twitter.svg" alt="Twitter"/></a>
                <a class="navbar-item" href="{{{uiRootPath}}}/../revapi-site/0/news/_attachments/news.atom"><img src="{{{uiRootPath}}}/img/rss.svg" alt="RSS"/></a>
            </div>
        </div>
    </nav>
</header>
